@font-face{
    font-family: NokiaPureHeadline_UltraLight;
    src: url('../fonts/NokiaPureHeadline_UltraLight.ttf');
}

@font-face{
    font-family: NokiaPureText-Light;
    src: url('../fonts/NokiaPureText-Light.ttf');
}

@font-face{
    font-family: NokiaPureText-Regular;
    src: url('../fonts/NokiaPureText-Regular.ttf');
}

html{
    height: 100%;
}

body{
    margin: 0;
    font-family: NokiaPureText-Light;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-family: NokiaPureText-Regular;
    font-size: 1.8vh;
    color: #124191;
    background-color: transparent;
    border: 1.5px solid #124191;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
}

button:hover{
    color: #ffffff;
    background-color: #124191;
    cursor: pointer;
}

a.button{
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-family: NokiaPureText-Regular;
    font-size: 1.8vh;
    color: #124191;
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #124191;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

a.button:hover{
    color: #ffffff;
    background-color: #124191;
    cursor: pointer;
}

.headline{
    font-family: NokiaPureHeadline_UltraLight;
    font-weight: 100;
}

.text{
    font-family: NokiaPureText-Light;
    font-weight: 100;
}