@font-face{
    font-family: NokiaPureHeadline_Ultralight;
    src: url('../fonts/NokiaPureHeadline_Ultralight.ttf');
}

@font-face{
    font-family: NokiaPureText-Light;
    src: url('../fonts/NokiaPureText-Light.ttf');
}

@font-face{
    font-family: NokiaPureText-Regular;
    src: url('../fonts/NokiaPureText-Regular.ttf');
}

html{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../images/dive_blur.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #124191;
    min-height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    font-family: NokiaPureText-Light;
}

a.button{
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-family: NokiaPureText-Regular;
    font-size: 1.8vh;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

a.button:hover{
    color: #124191;
    background-color: #ffffff;
    cursor: pointer;
}

.headline{
    font-family: NokiaPureHeadline_Ultralight;
    font-weight: 100;
    color: #ffffff;
    width: 80%;
}

.text{
    font-family: NokiaPureText-Light;
    font-weight: 100;
}

input[type="submit"]{
    display: block;
    margin: 5vh auto 0vh auto;
    color: #124191;
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #124191;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-size: 1.8vh;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #ffffff;
    background-color: #124191;
}
    
.headline{
    margin:auto;
    color: #ffffff;
    font-size: 4vh;
}

#content{
    text-align: center;
    width: 65%;
    margin:  5vh auto auto auto;
}

.wrapper{
    margin:  5vh auto 10vh auto;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 2vh 2vh 0vh 0vh;
    box-shadow: 0vh 0vh 5vh rgb(0,0,0,0.15);
    box-sizing: border-box;
    padding: 10vh 0vh 10vh 0vh;
    opacity: 1;
    width: 100%;
    height: 100%;
}

#titlebar{
    color: #124191;
    font-size: 3vh;
}

#cardTitle {
    font-size: 3vh;
    color: #124191;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #content{
        width: 65%;
    }
    .wrapper{
        border-radius: 2vh;
        padding: 10vh 10vh 10vh 10vh;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    #content{
        width: 75%;
    }
    .wrapper{
        border-radius: 2vh;
        padding: 7vh 7vh 7vh 7vh;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #content{
        width: 100%;
    }
    .wrapper{
        border-radius: 0;
        padding: 5vh 3vh 5vh 3vh;
    }
    textarea{
        font-size: 1.4vh;
    }
    .question, .questionItem{
        font-size: 2vh;
    }
    th, td{
        font-size: 1.6vh;
    }
    .option:first-of-type{
        opacity: 1;
        filter: none;
        border-radius: 0;
        width: 100%;
        height: 30vh;
        padding: 4vh;
        text-align: center;
    }
    .option:last-of-type{
        opacity: 1;
        filter: none;
        border-radius: 0;
        width: 100%;
        height: 30vh;
        padding: 4vh;
        text-align: center;
    }
    .wrapperHome{
        border-radius: 0vh;
    }
    #toolbar{
        display: block;
    }
    .categoryContainer .delete{
        opacity: 1;
        visibility: visible;
    }
    .item .delete{
        opacity: 1;
        visibility: visible;
    }
    #sublogo{
        margin: 0vh 0vh 0vh 1.5vh;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #content{
        width: 75%;
    }
    .wrapper{
        border-radius: 2vh;
        padding: 5vh 5vh 5vh 5vh;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    #content{
        width: 75%;
    }
    .wrapper{
        border-radius: 2vh;
        padding: 5vh 5vh 5vh 5vh;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #content{
        width: 100%;
    }
    .wrapper{
        border-radius: 0;
        padding: 3vh 3vh 3vh 3vh;
    }
    textarea{
        font-size: 1.4vh;
    }
    .question, .questionItem{
        font-size: 2vh;
    }
    th, td{
        font-size: 1.6vh;
    }
    .option:first-of-type{
        opacity: 1;
        filter: none;
        border-radius: 0;
        width: 100%;
        height: 30vh;
        padding: 4vh;
        text-align: center;
    }
    .option:last-of-type{
        opacity: 1;
        filter: none;
        border-radius: none;
        width: 100%;
        height: 30vh;
        padding: 4vh;
        text-align: center;
    }
    .wrapperHome{
        border-radius: 0vh;
    }
    #toolbar{
        display: block;
    }
    .categoryContainer .delete{
        opacity: 1;
        visibility: visible;
    }
    .item .delete{
        opacity: 1;
        visibility: visible;
    }
    #sublogo{
        margin: 0vh 0vh 0vh 1.5vh;
    }
}