body{
}
    
.headline{
    margin:auto;
    color: #000000;
    font-size: 4vh;
}

#content{
    text-align: center;
    width: 65%;
    margin:  5vh auto auto auto;
}

.wrapper{
    margin:  5vh auto auto auto;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 2vh 2vh 0vh 0vh;
    box-shadow: 0vh 0vh 5vh rgb(0,0,0,0.15);
    padding: 10vh 0vh 10vh 0vh;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.item{
    text-align: left;
    display: block;
    padding: 2vh 10vh;
    transition: 0.3s;
}

.item input{
    margin: 0vh 1vh 0vh 0vh;
    opacity: 0.5;
    transition: 0.3s;
}

.item:hover {
    background-color: #f0f0f0;
}

.item:hover > input {
    opacity: 1;
}

.item input:checked {
    opacity: 1;
}

.item input:checked {
    opacity: 1;
}

#titlebar{
    display: table;
    margin: 0vh auto 5vh auto;
    width: 80%;
    height: 5vh;
}

#cardTitle {
    display: table-cell;
    vertical-align: middle;
    float: left;
    color: #124191;
}

#toolbar{
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

#toolbar button{
    line-height: 3.5vh;
    text-align: right;
    border: none;
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    outline: none;
    cursor: pointer;
    filter: grayscale();
    transition: 0.3s;
}

#toolbar > button > img{
    margin-right: 1vh;
    float: left;
    width: 3vh;
    height: auto;
}

#toolbar button:hover{
    filter: none;
    color: #124191;
}


#toolbar button:focus{
    filter: none;
    color: #124191;
    background-color: #f0f0f0;
}

#form{
    margin: 0 auto;
    text-align: left;
    width: 80%;
    overflow: hidden;
}

input[type="text"] {
    line-height: 2vh;
    width: 100%;
    padding: 2vh 1vh 0.7vh 1vh;
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 0.2vh solid #d0d0d0;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:hover {
    border-bottom: 0.2vh solid #c0c0c0;
}

input[type="text"]:focus {
    border-bottom: 0.2vh solid #124191;
}

.categoryContainer{
    width: 100%;
    display: table;
}

.expandable{
    padding: 0vh 1vh 0vh 0vh;
    width: 3vh;
    height: 5vh;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.expandable > img{
    width: 2.5vh;
    height: auto;
    opacity: 0.8;
}

.category{
    font-size: 2.7vh;
    display: table-cell;
    vertical-align: middle;
}

.questionContainer{
    width: 100%;
}

.questionList {
    margin: 0;
    padding: 0vh 0vh 0vh 7vh;
    font-size: 1.7vh;
}

.question {
    font-size: 1.7vh;
}

.set{
    padding-bottom: 5vh;
}

input[type="submit"]{
    display: block;
    margin: 5vh auto 0vh auto;
    color: #124191;
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #124191;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-size: 1.8vh;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #ffffff;
    background-color: #124191;
}