body{
}

h3{
    font-size: 2.7vh;
}

.set{
    padding-bottom: 5vh;
}

#cardTitle{
    text-align: center;
    width: 70%;
}

.set label{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 0.5;
    padding: 1vh 1.5vh 0vh 1.5vh;
    width: 3vh;
    height: auto;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    filter: brightness(120%);
}

.set label > img{
    width: 2.5vh;
    height: auto;
    filter: hue-rotate(140deg);
}

.set label:hover{
    opacity: 1;
}

input[type="text"] {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
    padding: 2vh 1vh 0.8vh 1vh;
    background-color: transparent;
    border: none;
    border-bottom: 0.2vh solid transparent;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:hover {
    border-bottom: 0.2vh solid #b0b0b0;
}

input[type="text"]:focus {
    border-bottom: 0.2vh solid #124191;
}

.categoryContainer{
    width: 100%;
    display: table;
}

.categoryContainer .delete{
    opacity: 0;
}

.categoryContainer:hover .delete{
    opacity: 1;
}

.category{
    font-size: 2.7vh;
    display: table-cell;
    vertical-align: middle;
}

.questionContainer{
    width: 100%;
}

.itemList {
    margin: 0;
    padding: 0vh 0vh 0vh 9vh;
    font-size: 1.7vh;
}

.itemList li span {
    width: 100%;
    display: table;
}

.item {
    display: table-cell;
    font-size: 1.7vh;
}

.item .delete{
    opacity: 0;
}

.item:hover .delete{
    opacity: 1;
}

.item input {
    display: table-cell;
    font-size: 1.7vh;
}

input[type="submit"]{
    display: block;
    margin: 5vh auto 0vh auto;
    color: #124191;
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #124191;
    border-radius: 3px;
    outline: none;
    transition: 0.3s;
    padding: 1.5vh 4vh 1.5vh 4vh;
    font-size: 1.8vh;
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #ffffff;
    background-color: #124191;
}