body{
}

.item{
    font-size: 2vh;
    text-align: left;
    display: block;
    box-sizing: border-box;
    padding: 3vh 3vh;
    transition: 0.3s;
    border-radius: 2vh;
}

.item input{
    margin: 0vh 1vh 0vh 0vh;
    opacity: 0.5;
    transition: 0.3s;
}

.item:hover {
    background-color: #f0f0f0;
}

.item:hover > input {
    opacity: 1;
}

.item input:checked {
    opacity: 1;
}

.item input:checked {
    opacity: 1;
}

#titlebar{
    display: table;
    width: 100%;
    height: 5vh;
}

.cardTitle {
    font-size: 3vh;
    display: table-cell;
    vertical-align: middle;
    float: left;
    color: #124191;
}

#toolbar{
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}

#toolbar button{
    line-height: 3.5vh;
    text-align: right;
    border: none;
    padding: 1vh 2vh;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    outline: none;
    cursor: pointer;
    filter: grayscale();
    transition: 0.3s;
}

#toolbar > button > img{
    margin-right: 1vh;
    float: left;
    width: 3vh;
    height: auto;
}

#toolbar button:hover{
    filter: none;
    color: #124191;
}


#toolbar button:focus{
    filter: none;
    color: #124191;
    background-color: #f0f0f0;
}


#toolbar > button span{
    font-size: 1.8vh;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #titlebar{
        display: block;
        margin-bottom: 10vh;
    }
    .cardTitle{
        display: block;
        float: none;
    }
    #toolbar{
        display: block;
        float: none;
        text-align: center;
    }
    .item input{  
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    transform: scale(2.5);
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    #titlebar{
        display: block;
        margin-bottom: 10vh;
    }
    .cardTitle{
        display: block;
        float: none;
    }
    #toolbar{
        display: block;
        float: none;
        text-align: center;
    }
    .item input{  
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    transform: scale(2.5);
    }

}