@font-face{
    font-family: NokiaPureText-Light;
    src: url('fonts/NokiaPureText-Light.ttf');
}

html{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url(images/dive.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #124191;
    min-height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    font-family: NokiaPureText-Light;
}

#logoFeature{
    width: 22vh;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

#sublogoFeature{
    display: inline-block;
    margin: 0vh 0vh 0vh 1.5vh;
    color: #ececec;
    font-family: NokiaPureText-Light;
    font-weight: 600;
    font-size: 3vh;
    vertical-align: top;
}

#visualContainer{
    margin: 23vh auto auto auto;
    width: 72%;
    text-align: center;
}

.visual{
    display: none;
    height: auto;
    width: 22%;
    margin: auto;
    float: left;
}

#visual1{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}


#visual2{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}


#visual3{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}

#tagline{
    float: left;
    display: block;
    opacity: 0;
    margin: 10vh auto;
    text-align: left;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.9s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}

#tagline h4{
    margin: 3vh 0vh 6vh;
    font-size: 2.5vh;
    color: #ffffff;
    font-weight:100;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .visual{
        width: 22%;
    }
    #visualContainer{
        margin: 30vh auto auto auto;
        width: 72%;
    }
    #tagline{
        float: left;
        text-align: left;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .visual{
        width: 22%;
    }
    #visualContainer{
        margin: 30vh auto auto auto;
        width: 72%;
    }
    #tagline{
        float: left;
        text-align: left;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .visual{
        width: 33.3%;
    }
    #visualContainer{
        margin: 35vh auto auto auto;
        width: 90%;
    }
    #tagline{
        margin: 5vh auto auto auto;
        float: none;
        text-align: center;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .visual{
        width: 20%;
    }
    #visualContainer{
        margin: 30vh auto auto auto;
        width: 90%;
    }
    #tagline{
        float: left;
        text-align: left;
        margin-left: 5vh;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .visual{
        width: 22%;
    }
    #visualContainer{
        margin: 23vh auto auto auto;
        width: 72%;
    }
    #tagline{
        float: left;
        text-align: left;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .visual{
        width: 33.3%;
    }
    #visualContainer{
        margin: 35vh auto auto auto;
        width: 80%;
    }
    #tagline{
        float: none;
        text-align: center;
    }
}