@font-face{
    font-family: Nokia;
    src: url('fonts/NokiaKokia.ttf');
}

@font-face{
    font-family: NokiaPureText-Light;
    src: url('fonts/NokiaPureText-Light.ttf');
}

body{
    background-image: url(images/Path%208.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#logo{
    margin: 0vh;
    font-family: Nokia;
    font-weight: 100;
    font-size: 5vh;
    float: left;
    color: #183693;
}

#sublogo{
    display: inline-block;
    margin: 0.8vh 0vh 0vh 1.5vh;
    color: #b0b0b0;
    font-family: NokiaPureText-Light;
    font-weight: 600;
    font-size: 3vh;
}

#visualContainer{
    margin: 23vh auto auto auto;
    padding: 0vh 2vh 0vh 0vh;
    width: 145vh;
}

.visual{
    opacity: 0;
    display: inline-block;
    height: 50vh;
    width: auto;
    margin: auto;
    float: left;
}

#visual1{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}


#visual2{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}


#visual3{
    animation-name: slideUp;
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideUp;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}

#tagline{
    float: right;
    display: inline-block;
    opacity: 0;
    margin: 10vh 0vh 0vh 0vh;
    text-align: left;
    animation-name: fadeIn;
    animation-duration: 0.7s;
    animation-delay: 0.9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-delay: 0.9s;
    -webkit-animation-fill-mode: forwards;  
    -webkit-animation-timing-function: ease-in-out;
}

#tagline h4{
    margin: 3vh 0vh 6vh;
    font-size: 2.5vh;
    color: #b0b0b0;
    font-weight:100;
}